@font-face{
    font-family: outfit;
    src:url(/assets/fonts/outfit/static/Outfit-Regular.ttf) format("ttf");
}
@font-face{
    font-family: young-serif;
    src:url(/assets/fonts/young-serif/static/Youngserif-Regular.ttf) format("ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
img{
    max-width: 100%;


}
}
body{
    font-family: young-serif;

}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}